.container {
	width: min(100%, 800px);
	margin: 8px auto;
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.box {
	width: 100%;
	min-height: 4rem;
	margin: auto;
	padding: 12px 20px;
	display: grid;
	grid-template-columns: 70% 30%;
	justify-content: center;
	align-items: center;
	gap: 1em;
	background-color: var(--bg-color-theme);
	border-radius: 5px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.info > h3 {
	margin: 0;
}

.download-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
