.container {
	width: min(100%, 800px);
	margin: 8px auto;
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.box {
	width: 100%;
	min-height: 4rem;
	margin: auto;
	padding: 12px 20px;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	justify-content: center;
	align-items: center;
	gap: 1em;
	background-color: var(--bg-color-theme);
	border-radius: 5px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.info > h3 {
	margin: 0;
}

.action-btns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 1rem;
	align-items: center;
}

.download-select {
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0.6em 0;
	text-align: center;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--bg-color-theme);
	color: var(--text-color-theme);
	transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
	.download-select {
		border: 1px solid rgba(50, 50, 50, 0.3);
	}
}