#root {
  position: relative;
  width: min(100%, 1280px);
  margin: 0 auto;
  text-align: center;
}

main {
  padding: 0 2rem;
}

.btns {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.msg-box {
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.error-msg {
  color: red;
}