:root {
	--bg-color-theme: rgb(40, 40, 40);
	/* --text-color-theme: rgb(225, 225, 225); */
	--text-color-theme: rgb(255, 0, 0);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.025rem;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

input,
select,
option {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.file-import-btn {
	position: absolute;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
}

button,
.file-import-btn + .file-import-label {
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--bg-color-theme);
	color: var(--text-color-theme);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover,
.file-import-btn + .file-import-label:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible,
.file-import-btn:focus + .file-import-label,
.file-import-btn:focus-visible + .file-import-label {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color-theme: rgb(240, 240, 240);
		--text-color-theme: #213547;

		color: var(--text-color-theme);
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button,
	.file-import-btn + .file-import-label {
		border: 1px solid rgba(50, 50, 50, 0.3);
		color: var(--text-color-theme);
		background-color: var(--bg-color-theme);
	}
}
